.item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.cart-container {
    width: 75%;
    margin: auto;
    padding: 2% 0;

}

.cart-footer {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    margin-top: 2%;
}

.cart-page {
    padding: 2% 0;
}

.cart-item input {
    padding: 2%;
    text-align: center;
    font-size: 12px;
}

.quan-row {
    display: flex;
}