.side-panel .wrapper {
    background-color: rgb(37, 37, 75);
    color: white;
    padding: 2%;
    border-radius: 0 10px 10px 0;
}

.panel-list .btn-link {
    font-size: 20px;
    cursor: pointer;
}

.panel-list li {
    margin-bottom: 4%;
}

.panel-list .btn-link.active {
    text-decoration: underline;
}

.panel-list .btn-link:not(.active):hover {
    transform: scale(1.2);
    transition: ease 0.4s;
}